<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Fiest_Web_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>First_Servlet</servlet-name>
    <servlet-class>com.my.first.First_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First_Servlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycle_Service</display-name>
    <servlet-name>LifeCycle_Service</servlet-name>
    <servlet-class>com.my.first.LifeCycle_Service</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycle_Service</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlServlet</display-name>
    <servlet-name>UrlServlet</servlet-name>
    <servlet-class>com.my.first.UrlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlServlet</servlet-name>
    <url-pattern>/life/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YJiaZai</display-name>
    <servlet-name>YJiaZai</servlet-name>
    <servlet-class>com.my.two.ZiJiaZai</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>YJiaZai</servlet-name>
    <url-pattern>/YJiaZai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>First_Servlet1</display-name>
    <servlet-name>First_Servlet1</servlet-name>
    <servlet-class>com.my.two.First_Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First_Servlet1</servlet-name>
    <url-pattern>/First1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Second_Servlet1</display-name>
    <servlet-name>Second_Servlet1</servlet-name>
    <servlet-class>com.my.two.Second_Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Second_Servlet1</servlet-name>
    <url-pattern>/Second1</url-pattern>
  </servlet-mapping>
</web-app>